.header{
    display: flex; background-color: white;
    justify-content: space-around;
}

.main{
    margin: auto;
    margin-top: 100px;
}

.topTitle{
    width: 60%;
    margin: auto;
    font-size: 20px;
    font-weight: bolder;
}

.title{
    font-size: 18px;
    font-weight: bold;
}

.write{
    text-align:end;
}

.board{
    width:60%;
    border-top: 2px solid navy;
    margin: auto;
}

table{
    border-collapse: collapse;
}


a{
    text-decoration: none; 
    color: inherit;
}

.boardTable tr {
    border-bottom:1px solid #ccc;
}

.boardTable th,
.boardTable td{
    padding : 10px;

}

.boardTable{
    margin: auto;
    width: 100%;
    margin-right: auto;
    text-align: center;
}

.paging{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10px
}

.boardTable tbody tr td:nth-child(2) {
    text-align: left;
}

