.navBar{
    display: flex; font-size: 22px;
    vertical-align: middle;
    justify-content: space-around;
    height: 50px; margin: auto;
    font-size:28px; font-weight:520;
}

.app{
    display: inline-block;
}
.logo{
    width: 250px;
}

a{
    text-decoration: none; 
    color: inherit;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.content{
    vertical-align: middle;
    margin-top: 40px;
    height: 750px;
    text-align: center;
}

.nav{
    height: 70px;
    margin: auto;
    color:rgb(143, 149, 231);
    text-align: 50px;
    
}

.loginInput{
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: 50%;
}

.loginButton{
    background-color: rgb(180, 184, 243);
    border: none; color: white;
    width: 70px; height: 30px;
}

.logintext{
    color:rgb(76, 71, 121);
    text-transform: bold;
}