.navBar{
    display: flex; font-size: 22px;
    vertical-align: middle;
    justify-content: space-around;
    height: 50px; margin: auto;
    font-size:28px; font-weight:520;
}
.Board{
    width: 65%;
    margin:auto;
    
}

table{
    border-collapse: collapse;
}

th, td{
    padding : 10px
}
.boardTalbe tr{
    border-bottom: 1px solid black
}
.topTitle{
    font-size: 15px;
    text-align: left;
}

.boardTable{
    margin: auto;
    width: 100%;
    border-top: 2px solid rgb(118, 156, 238);
    font-size:17px;
}

.app{
    display: inline-block;
}
.logo{
    width: 250px;
}
.paging{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 10px
}
.boardTable tr{
    border-bottom: 1px solid rgb(195, 200, 243);
}

a{
    text-decoration: none; 
    color: inherit;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.content{
    vertical-align: middle;
    margin-top: 40px;
    height: 750px;
    text-align: center;
}



.nav{
    height: 70px;
    margin: auto;
    color:rgb(143, 149, 231);
    text-align: 50px;
    
}

.loginInput{
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: 50%;
}

.loginButton{
    background-color: rgb(180, 184, 243);
    border: none; color: white;
    width: 70px; height: 30px;
}

.logintext{
    color:rgb(76, 71, 121);
    text-transform: bold;
}