#aaa {
    height: 100px;background-color: yellow;
    display: inline-block;
}
#bbb{
    height: 100px; background-color: green;display: inline-block;
}
#temp {
    width: 200px; height: 300px; background-color: red;
}
#temp:hover {
    background-color: aqua;
}